/* src/index.css */

html {
  font-size: 16px;
  font-family: 'Manrope';
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.swiper .hero-swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: fit-content;
}

.swiper-slide .hero-slider-img {
  display: block;
  width: 100%;
}
