/* src/index.css */

html {
  font-size: 16px;
  font-family: 'Manrope';
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 6px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.swiper .hero-swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: fit-content;
}

.swiper-slide .hero-slider-img {
  display: block;
  width: 100%;
}

/* Toast Container margin */
.Toastify__toast-container {
  padding: 10px;
}

/* Toast border radius and padding */
.Toastify__toast {
  border-radius: 12px !important;
  padding: 16px !important;
  min-height: 64px;
}

/* Optional: Different radius for different toast types */
.Toastify__toast--success {
  border-radius: 12px !important;
  padding: 16px !important;
}

.Toastify__toast--error {
  border-radius: 12px !important;
  padding: 16px !important;
}

.Toastify__toast--warning {
  border-radius: 12px !important;
  padding: 16px !important;
}

.Toastify__toast--info {
  border-radius: 12px !important;
  padding: 16px !important;
}

/* Toast body padding adjustment */
.Toastify__toast-body {
  padding: 0;
  margin: 0;
}

/* Progress bar border radius */
.Toastify__progress-bar {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.stripe-input {
  background-color: var(--template-palette-background-paper);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--template-palette-divider);
  color: var(--template-palette-text-primary);
}
