@font-face {
  font-family: 'SF Pro Display';
  src:
    url('../fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro Display';
  src:
    url('../fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
}
